<div class="card" style="width: 40rem;">
    <div class="card-body">
        <h5 class="card-title"><%= wine.winery %></h5>
        <h4 class="card-title"><%= wine.name %></h4>
        <p class="card-text"><%= wine.region %>, <%= wine.country %></p>
        <p class="card-text"><%= wine.rate %>/5</p>
        <p class="card-text offers-count">Offers from: <%= wine.offers.length %> users</p>
        <button></button>
      </div>
  </div>