<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="/stylesheets/article.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="/js/blog-card-filter-options.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine 🍷 Not?</title>
</head>

<body>
    <div>
        <%- include('../../components/navbar.ejs'); %>
    </div>

    <div>

        <header>
            <%- include('../../components/wine_page.ejs'); %>
                <% if(wine.offers.length !=0) { %>
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Link</th>
                            </tr>
                        </thead>
                        <tbody>

                            <% for(var i=0; i < wine.offers.length; i++) { %>
                                <tr>
                                    <th scope="row">
                                        <%= i+1 %>
                                    </th>
                                    <td>
                                        <%= wine.offers[i].user %>
                                    </td>
                                    <td>
                                        <%= wine.offers[i].price %>
                                    </td>
                                    <td><a class="btn btn-primary" href="<%= wine.offers[i].website%>" target="_blank"
                                            role="button">Link</a>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <% } %>

    </div>
    <div>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div>
            <canvas id="myChart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <% if(wine.offers.length !=0) { %>

            <script>

                var labels = [];
                var data1 = [];

            </script>
            <% for(var i=0; i < wine.offers.length; i++) { %>
                <script>
                    labels.push('<%= wine.offers[i].user %>')
                    data1.push('<%= wine.offers[i].price %>')
                </script>
                <% } %>
                    <script>
                        const data = {
                            labels: labels,
                            datasets: [{
                                label: 'Prices',
                                backgroundColor: 'rgb(255, 99, 132)',
                                borderColor: 'rgb(255, 99, 132)',
                                data: data1
                            }]
                        };

                        const config = {
                            type: 'bar',
                            data: data,
                            options: {}
                        };
                    </script>
                    <% } %>


                        <script>
                            const myChart = new Chart(
                                document.getElementById('myChart'),
                                config
                            );
                        </script>


    </div>
    <a href="/wines/page" class="btn btn-outline-primary back-button">return</a>
    <a href="/wines/edit/<%= wine.id %>" class="btn btn-warning function-button">edit</a>
    <a href="/wines/addoffer/<%= wine.id %>" class="btn btn-warning function-button">+</a>

    </div>
</body>